---
---
<vscode-collapsible title="Basic example" open>
  <p>Open by default</p>
</vscode-collapsible>
<vscode-collapsible title="Basic example">
  <p>Suspendisse potenti. Maecenas eu egestas metus. Nulla eget placerat mi, et efficitur augue.</p>
</vscode-collapsible>

<style>
  vscode-collapsible p {
    margin: 10px;
  }
</style>