---
import type { CssPart } from "custom-elements-manifest";
import { marked } from "marked";

export type Props = {
  items: CssPart[];
};

const { items } = Astro.props;
---

<>
  <h2 id="CSS_Parts">CSS Parts</h2>
  {
    items.map((p) => {
      const { name, description } = p;

      return (
        <details>
          <summary>{name}</summary>
          <table>
            {description ? (
              <tr>
                <th scope="row">Description</th>
                <td><Fragment set:html={marked(description)} /></td>
              </tr>
            ) : null}
          </table>
        </details>
      );
    })
  }
</>
