/* Dark mode colors. */
:root {
  --sl-color-accent-low: #0d253c;
  --sl-color-accent: #006db7;
  --sl-color-accent-high: #afcce9;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c4daf0;
  --sl-color-accent: #006fba;
  --sl-color-accent-high: #093457;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}

.api-table {
  overflow: auto;
}

.api-table th:first-child,
.api-table td:first-child {
  background-color: var(--sl-color-bg);
  left: 0;
  position: sticky;
}

.api-table td {
  white-space: nowrap;
}

.api-table .description {
  white-space: normal;
  width: 450px;
}

.api-details {
  border-left: none !important;
  padding-left: 0 !important;
}

.api-details + .api-details {
  margin-top: 0.5rem;
}

.api-details summary {
  font-weight: 400;
  margin-bottom: 0 !important;
}

.api-details .flags {
  display: inline-block;
  margin-left: 10px;
}

.api-details table {
  margin-top: 0 !important;
  margin-bottom: 1rem;
}

.api-details .na {
  opacity: 0.5;
}
