<vscode-table
  class="complex-table-example"
  columns='["52px", "80px", "80px"]'
  bordered-columns
  zebra
  min-column-width="5"
>
  <vscode-table-header slot="header">
    <vscode-table-header-cell
      >Profile <picture></picture>
    </vscode-table-header-cell>
    <vscode-table-header-cell>First name</vscode-table-header-cell>
    <vscode-table-header-cell>Last name</vscode-table-header-cell>
    <vscode-table-header-cell>Email</vscode-table-header-cell>
    <vscode-table-header-cell>Introduction</vscode-table-header-cell>
  </vscode-table-header>
  <vscode-table-body slot="body">
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#2c7500;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          CD
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Carmelo</vscode-table-cell>
      <vscode-table-cell>Dooley</vscode-table-cell>
      <vscode-table-cell>Colby55@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Cum et aut assumenda. Temporibus voluptas facilis sed et accusamus est
        nisi harum minus. Dolor modi quos soluta laborum repellendus
        exercitationem voluptas cum. Dolorem explicabo eveniet incidunt dolorum
        atque ut.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#cc3735;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          ES
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Erik</vscode-table-cell>
      <vscode-table-cell>Shields</vscode-table-cell>
      <vscode-table-cell>Lorenz.Mertz@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Possimus quidem ea ut. Necessitatibus qui occaecati explicabo hic non
        id ut ea. Voluptatem in quasi incidunt aut sed deserunt iste tempore
        consequatur. Aliquid explicabo deleniti saepe omnis quos aut suscipit ex
        et. Cupiditate nemo tenetur possimus corrupti.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#b21729;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          MC
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Monserrate</vscode-table-cell>
      <vscode-table-cell>Cronin</vscode-table-cell>
      <vscode-table-cell>Conrad38@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Consequatur ex ipsa vero ut aliquid assumenda. Sapiente dignissimos
        molestias facilis dolores at quaerat incidunt et. Consectetur dolorum
        rerum porro necessitatibus rerum.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#0aaf10;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          MJ
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Mossie</vscode-table-cell>
      <vscode-table-cell>Jacobson</vscode-table-cell>
      <vscode-table-cell>Monserrate.Zieme@gmail.com</vscode-table-cell>
      <vscode-table-cell
        >Non dolores et ad id incidunt. A temporibus amet eius dolores
        laudantium fugiat. Maxime aliquam dolores laboriosam est eos nihil.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#e5d84e;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          LH
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Leda</vscode-table-cell>
      <vscode-table-cell>Haag</vscode-table-cell>
      <vscode-table-cell>Felicia.Batz73@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Quis cupiditate ut inventore dolor. Suscipit est qui. Quae dolores enim
        consequatur nostrum. Temporibus soluta aperiam asperiores a autem
        similique culpa.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#ba240d;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          TB
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Theodora</vscode-table-cell>
      <vscode-table-cell>Bechtelar</vscode-table-cell>
      <vscode-table-cell>Sarah84@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Atque sit minima id et veritatis vero commodi et recusandae. Sit nemo
        blanditiis velit. Quasi molestias in dolorem et consequatur distinctio
        voluptas. Nihil et optio maiores eius id aspernatur commodi praesentium
        deleniti. Voluptatibus veritatis repellat dignissimos quasi.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#ea9fbc;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          NH
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Nasir</vscode-table-cell>
      <vscode-table-cell>Hessel</vscode-table-cell>
      <vscode-table-cell>Santina_Langosh5@gmail.com</vscode-table-cell>
      <vscode-table-cell
        >Saepe sit iure iure aliquid est quam recusandae distinctio. Illo non ut
        rerum. Et ducimus est doloribus sed sint in.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#30299e;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          EV
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Evans</vscode-table-cell>
      <vscode-table-cell>Vandervort</vscode-table-cell>
      <vscode-table-cell>Camilla43@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Sapiente saepe dolorum magnam sequi aperiam est. Et ratione unde
        nesciunt rerum rerum beatae. Et a tempora dicta ut qui odit eum
        explicabo. Aut expedita eveniet.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#81efb3;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          LQ
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Lavern</vscode-table-cell>
      <vscode-table-cell>Quitzon</vscode-table-cell>
      <vscode-table-cell>Cory28@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Excepturi quia repudiandae. Voluptatem numquam aut ad voluptatum
        voluptas consequatur. Voluptatem dolore et soluta beatae eveniet tempore
        laboriosam.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#db8c25;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          WB
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Willie</vscode-table-cell>
      <vscode-table-cell>Beahan</vscode-table-cell>
      <vscode-table-cell>Anabelle.Nienow@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Eos aspernatur repellendus error doloribus dolorem sint dolorum
        consectetur. Est minus ab sed. Perferendis asperiores eos placeat.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#d33b78;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          NJ
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Nola</vscode-table-cell>
      <vscode-table-cell>Jast</vscode-table-cell>
      <vscode-table-cell>Toy_Walter@gmail.com</vscode-table-cell>
      <vscode-table-cell
        >Sed voluptatum officia quo quo. Fugiat odit eius voluptas consequuntur
        non voluptatem et. Quos quam ab et consequatur. Molestias omnis
        cupiditate ut dolores et quia.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#cc4977;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          MW
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Merle</vscode-table-cell>
      <vscode-table-cell>Watsica</vscode-table-cell>
      <vscode-table-cell>Misty_Bergnaum@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Quis culpa cum sed maiores omnis et non. Architecto sequi excepturi ad
        qui. Assumenda ipsam officia laudantium dolor et ratione quam nam.
        Dolores molestiae quod.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#5bef10;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          LB
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Laverna</vscode-table-cell>
      <vscode-table-cell>Bogisich</vscode-table-cell>
      <vscode-table-cell>Natalia_Brakus74@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Cumque dolores dolore quia deserunt. Laudantium sed distinctio sunt.
        Voluptatum et qui. Velit non illo expedita omnis quod vero et possimus
        harum. Nulla eum possimus est.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#bced1c;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          NB
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Nathanial</vscode-table-cell>
      <vscode-table-cell>Boyle</vscode-table-cell>
      <vscode-table-cell>Emilie65@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Voluptatum quibusdam omnis veniam velit sint quia quia consequatur.
        Voluptate sit dolor sed totam eligendi. Sit est ex a eos. Enim voluptas
        perferendis minus quasi eius. Deleniti quod est quas itaque nulla cum
        sit at libero.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#7af4e8;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          KJ
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Kiara</vscode-table-cell>
      <vscode-table-cell>Jones</vscode-table-cell>
      <vscode-table-cell>Cecile16@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Sed nesciunt voluptas voluptates consequuntur laudantium non voluptates
        sint illo. Nam officiis nihil doloribus. Sunt magnam qui molestias
        voluptas.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#03dd00;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          PK
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Pearlie</vscode-table-cell>
      <vscode-table-cell>Kunde</vscode-table-cell>
      <vscode-table-cell>Rhoda1@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Laborum autem minima optio quod dolores nesciunt et aspernatur. Est
        commodi provident aut cupiditate illo. Laudantium doloremque tempora
        repellendus asperiores qui.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#d6b246;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          DH
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Daija</vscode-table-cell>
      <vscode-table-cell>Hilll</vscode-table-cell>
      <vscode-table-cell>Jazmyne_Dach83@gmail.com</vscode-table-cell>
      <vscode-table-cell
        >Qui fugiat nihil. Alias doloremque quia esse provident. Delectus ullam
        esse et sed qui facere dolores et. Facilis commodi aliquam esse ratione
        beatae magnam. Sit quia ut quae et totam quisquam eum ut possimus.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#27b296;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          KG
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Katrine</vscode-table-cell>
      <vscode-table-cell>Greenholt</vscode-table-cell>
      <vscode-table-cell>Frederique.McDermott85@gmail.com</vscode-table-cell>
      <vscode-table-cell
        >Quas sapiente cum. Assumenda sint animi qui perspiciatis. Sint beatae
        qui earum iusto in officiis non nihil. Tempore pariatur non est illum
        ut. Fugit aut autem nemo.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#a2f9e9;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          JS
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Jean</vscode-table-cell>
      <vscode-table-cell>Steuber</vscode-table-cell>
      <vscode-table-cell>Fritz53@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Iure dolorem atque repellendus eum architecto ipsam. Pariatur ea unde
        explicabo. Quae autem rerum ad veritatis error nemo repellat quasi.
        Quibusdam repellendus voluptatum sint.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#6af7ed;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          DH
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Derrick</vscode-table-cell>
      <vscode-table-cell>Heller</vscode-table-cell>
      <vscode-table-cell>Tatyana.Roob@gmail.com</vscode-table-cell>
      <vscode-table-cell
        >Velit laboriosam adipisci vero eum reprehenderit voluptatum. Eum
        eligendi quia laudantium ut et. Illo culpa corrupti reprehenderit quis.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#d849d3;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          LR
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Lenore</vscode-table-cell>
      <vscode-table-cell>Ritchie</vscode-table-cell>
      <vscode-table-cell>Lila.Hackett@gmail.com</vscode-table-cell>
      <vscode-table-cell
        >Enim deserunt et. Saepe maxime ut et quia mollitia temporibus et nihil
        cupiditate. Adipisci ipsa voluptate assumenda dolor exercitationem
        pariatur nulla.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#5f29aa;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          MK
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Maribel</vscode-table-cell>
      <vscode-table-cell>Koepp</vscode-table-cell>
      <vscode-table-cell>Stacy_Abbott@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Laboriosam similique illum neque ea reiciendis. Explicabo officia
        distinctio. Facilis est velit. Vitae exercitationem earum quidem.
        Laboriosam tempora optio laborum et nulla deserunt modi.
      </vscode-table-cell>
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#f7f179;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          FE
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Felicity</vscode-table-cell>
      <vscode-table-cell>Erdman</vscode-table-cell>
      <vscode-table-cell>Mellie91@gmail.com</vscode-table-cell>
      <vscode-table-cell
        >Amet beatae sint magni ipsa animi natus sequi. Ut iste ratione non quia
        assumenda et porro ea facilis. Unde unde ut blanditiis exercitationem
        non eos ut. Vitae quis culpa deserunt facere tempora rerum atque qui
        explicabo.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#b85bea;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          RM
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Rachelle</vscode-table-cell>
      <vscode-table-cell>McCullough</vscode-table-cell>
      <vscode-table-cell>Tremaine11@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Et facere vel. Natus ipsum maxime ex consequatur atque sit at. Fugit
        exercitationem voluptate debitis earum accusamus. Aspernatur quasi ad.
        Sed perferendis ipsum atque eos magnam dolor. Quia enim ex quo vel.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#60820d;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          GK
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Gracie</vscode-table-cell>
      <vscode-table-cell>Kilback</vscode-table-cell>
      <vscode-table-cell>Noe45@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Molestiae magni harum et sunt autem ut. Est omnis mollitia nostrum quo
        molestiae quae dolor ut. Atque cum minus. Numquam et quod sunt sed.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#e8a951;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          MF
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Marco</vscode-table-cell>
      <vscode-table-cell>Franecki</vscode-table-cell>
      <vscode-table-cell>Edward.Sanford27@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Ad non dolorem expedita sunt cupiditate voluptatem vero eos aut. Nobis
        distinctio beatae et voluptatibus earum placeat dolor quos nesciunt.
        Aspernatur qui praesentium.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#f794cf;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          MC
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Monte</vscode-table-cell>
      <vscode-table-cell>Cole</vscode-table-cell>
      <vscode-table-cell>Domenica22@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Assumenda voluptatibus repellendus et enim sint error. Voluptatem et
        ipsum. Voluptas accusamus ipsum et exercitationem dignissimos odio.
        Dolorum ex similique mollitia optio vel quia. Sint esse nihil hic
        voluptate ducimus molestias consequatur velit.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#abfcec;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          KO
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Karson</vscode-table-cell>
      <vscode-table-cell>Oberbrunner</vscode-table-cell>
      <vscode-table-cell>Newton61@gmail.com</vscode-table-cell>
      <vscode-table-cell
        >Quibusdam veniam sapiente occaecati consequuntur illum nulla voluptatem
        aut. Aut est perspiciatis. Delectus atque est esse.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#c66b03;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          EG
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Emmanuelle</vscode-table-cell>
      <vscode-table-cell>Goodwin</vscode-table-cell>
      <vscode-table-cell>Elouise_Koss@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Qui repellendus tempora. Animi in et placeat officiis fugiat explicabo
        officia ab. Nihil aperiam maiores eum consequatur non. Quo et corporis
        eos eveniet nulla assumenda ut. Aut quia corporis.
      </vscode-table-cell>
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#75f968;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          AS
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Aniya</vscode-table-cell>
      <vscode-table-cell>Schaefer</vscode-table-cell>
      <vscode-table-cell>Nettie.Bashirian@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Reiciendis perferendis delectus fuga. Et ut debitis doloremque earum.
        Non maiores deleniti dolores. Vel quis vitae pariatur quaerat est saepe
        rerum et vero. Omnis eligendi minus.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#156075;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          JH
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Jillian</vscode-table-cell>
      <vscode-table-cell>Hand</vscode-table-cell>
      <vscode-table-cell>Ivory41@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Neque dicta sunt omnis quis. Accusamus ratione iste. Atque recusandae
        doloremque deserunt vel laborum consequuntur provident ducimus tenetur.
        Molestiae iure ratione harum.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#f96866;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          AG
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Alvera</vscode-table-cell>
      <vscode-table-cell>Grant</vscode-table-cell>
      <vscode-table-cell>Dena.Wisoky46@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Id omnis vel iusto. Corporis vero libero quis in cupiditate eum sit.
        Temporibus inventore iure aspernatur odio sequi sed eos. Ex molestiae
        repellat est similique illum quia sunt culpa. Totam nemo autem. Et est
        aut qui omnis suscipit.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#49cc61;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          KO
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Kamron</vscode-table-cell>
      <vscode-table-cell>Ondricka</vscode-table-cell>
      <vscode-table-cell>Gabe.Shields@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Labore quia vitae ut ratione id et tempora. Omnis exercitationem qui
        nihil dolore. Quia rerum consequatur repudiandae voluptatem sit quas
        iste ad impedit.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#f4d289;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          TW
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Tyra</vscode-table-cell>
      <vscode-table-cell>Wuckert</vscode-table-cell>
      <vscode-table-cell>Gennaro.Swaniawski@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Voluptas ab repudiandae sequi deleniti voluptatem qui unde. Nulla et
        quia id non similique adipisci ex est. Temporibus dolore magni
        recusandae atque repellat.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#db3dbe;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          GC
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Gus</vscode-table-cell>
      <vscode-table-cell>Conroy</vscode-table-cell>
      <vscode-table-cell>Freddy77@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Commodi aut dolores quis harum deleniti. Autem hic possimus ut et
        voluptas error totam odit. Enim rem libero veritatis velit incidunt
        recusandae porro est maxime.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#e82cdb;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          JD
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Jordi</vscode-table-cell>
      <vscode-table-cell>Douglas</vscode-table-cell>
      <vscode-table-cell>Macy61@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Omnis nam consequatur enim sit illo provident vitae. Quibusdam quia
        eius. Qui facilis dolor enim.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#97c43c;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          FB
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Favian</vscode-table-cell>
      <vscode-table-cell>Beahan</vscode-table-cell>
      <vscode-table-cell>Estel62@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Nesciunt cum corporis ipsam sit sequi voluptatem ex. Est voluptas
        possimus tempore. Aliquam natus ut non ipsa unde sint.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#7dcc3d;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          OW
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Orlo</vscode-table-cell>
      <vscode-table-cell>Wisoky</vscode-table-cell>
      <vscode-table-cell>Felipe9@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Neque velit dolor distinctio quis ut molestiae odit sed quidem. Sit
        assumenda aut eaque id. Eum dolorem animi in. Distinctio corrupti
        recusandae eum ex provident vitae error at. Impedit assumenda ut velit
        sit quisquam esse eos voluptas. Qui animi mollitia et quos.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#f4a377;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          MR
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Manuel</vscode-table-cell>
      <vscode-table-cell>Roberts</vscode-table-cell>
      <vscode-table-cell>Anastacio67@gmail.com</vscode-table-cell>
      <vscode-table-cell
        >Et rerum est molestiae in nihil sunt. Impedit aut ullam magnam sed nemo
        numquam porro. In aut nihil voluptate nemo unde est veritatis
        distinctio.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#cff76a;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          WO
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Wayne</vscode-table-cell>
      <vscode-table-cell>Oberbrunner</vscode-table-cell>
      <vscode-table-cell>Karen_Gleichner@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Neque hic qui. Rerum corrupti quis deleniti et repellat quis ipsum
        doloremque. Voluptate sapiente et iure facilis reiciendis rerum. Animi
        nam velit autem. Repudiandae repellendus incidunt possimus eveniet qui
        rerum nostrum rerum.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#f99dab;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          VK
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Vena</vscode-table-cell>
      <vscode-table-cell>Kertzmann</vscode-table-cell>
      <vscode-table-cell>Juanita_Hoeger@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Dolore est perferendis ut et aut fuga recusandae. Et maxime ipsam
        libero exercitationem aliquid ex totam ut. Qui numquam magnam velit sunt
        eius iste nam.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#495cd8;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          HL
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Heaven</vscode-table-cell>
      <vscode-table-cell>Leffler</vscode-table-cell>
      <vscode-table-cell>Kaia.Leannon@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Dolorem quis asperiores et veniam ut similique ad iure. Rerum quo
        ratione tempore. Ad ut et voluptas quos culpa. Ipsam magnam et nulla
        autem a alias facilis. Odit tempore sit id. Voluptatum dolores est
        exercitationem consequatur cumque nihil.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#dd980d;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          NM
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Nelson</vscode-table-cell>
      <vscode-table-cell>Mueller</vscode-table-cell>
      <vscode-table-cell>Armani_Vandervort@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Consectetur quisquam facere perspiciatis laudantium. Aspernatur alias
        sint. Similique numquam eos voluptatem aut mollitia occaecati.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#6969e0;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          MW
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Maximillia</vscode-table-cell>
      <vscode-table-cell>Wiza</vscode-table-cell>
      <vscode-table-cell>Murphy.Hayes12@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Reiciendis delectus officia natus possimus. Optio iste distinctio eos
        animi ipsum tempore optio aut. Porro nemo et. Itaque exercitationem
        consequatur.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#ec92f4;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          LS
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Lazaro</vscode-table-cell>
      <vscode-table-cell>Schultz</vscode-table-cell>
      <vscode-table-cell>Angie26@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Natus eveniet quo accusamus repellat sit. Velit quis et laudantium
        quibusdam numquam aut inventore quos. Consequatur sit ut sint molestias.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#7391f4;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          BB
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Bernie</vscode-table-cell>
      <vscode-table-cell>Bauch</vscode-table-cell>
      <vscode-table-cell>Abagail_Kihn62@gmail.com</vscode-table-cell>
      <vscode-table-cell
        >Voluptas consequatur nihil vitae. Eveniet animi commodi a ut similique
        magni. Vel unde impedit odio aut. Ullam fugit et culpa sint repudiandae
        nihil eligendi totam rerum. Impedit expedita amet iste laudantium
        molestiae.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#29b26b;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          MW
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Mohammed</vscode-table-cell>
      <vscode-table-cell>Welch</vscode-table-cell>
      <vscode-table-cell>Sibyl.Nader49@hotmail.com</vscode-table-cell>
      <vscode-table-cell
        >Est quam neque. Voluptates iure nostrum. Eos exercitationem vel odit
        eum voluptas. Optio voluptatibus velit dignissimos maiores labore. Eos
        sit commodi in rerum laboriosam odit perspiciatis accusamus. Deleniti
        fugiat eveniet rerum consequuntur debitis expedita commodi illum.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#ed2360;color:#fff;display:flex;justify-content:center;height:32px;width:32px;"
        >
          MD
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Mireille</vscode-table-cell>
      <vscode-table-cell>Douglas</vscode-table-cell>
      <vscode-table-cell>Chelsey_Gutkowski@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Veritatis quibusdam non fuga sunt accusantium rem id. Aut laborum
        voluptates cumque minus qui et molestiae sit velit. Quia deserunt a quo
        quod rerum quos. Aut sit similique non a laborum sed soluta earum ut.
        Placeat animi placeat quia cupiditate dolorem ut sint quis. Doloribus
        dolores vero magni fugiat optio exercitationem commodi enim.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#4bb710;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          SB
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Stephany</vscode-table-cell>
      <vscode-table-cell>Bartoletti</vscode-table-cell>
      <vscode-table-cell>Dayna_Treutel@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Qui earum sit consequatur officiis rerum consequatur culpa. Ipsum
        suscipit ut et. In ut iste animi eaque dolor et voluptates nam libero.</vscode-table-cell
      >
    </vscode-table-row>
    <vscode-table-row>
      <vscode-table-cell>
        <div
          style="align-items:center;background-color:#bff274;color:#000;display:flex;justify-content:center;height:32px;width:32px;"
        >
          MS
        </div>
      </vscode-table-cell>
      <vscode-table-cell>Mabelle</vscode-table-cell>
      <vscode-table-cell>Schroeder</vscode-table-cell>
      <vscode-table-cell>Ruby71@yahoo.com</vscode-table-cell>
      <vscode-table-cell
        >Quas omnis magni ut dicta ipsum. Facilis corrupti aut. Rerum voluptate
        et neque autem. Sapiente molestiae et aliquam aliquid et aut molestiae
        minima saepe. Ducimus explicabo minima cupiditate vel. Facere et
        accusantium explicabo ratione.</vscode-table-cell
      >
    </vscode-table-row>
  </vscode-table-body>
</vscode-table>

<style>
  .complex-table-example {
    height: 500px;
    width: 100%;
  }

  .complex-table-example:not(:defined) {
    background-color: #f6f8fa;
    display: block;
    height: 500px;
    width: 100%;
  }

  .complex-table-example:not(:defined) vscode-table-header,
  .complex-table-example:not(:defined) vscode-table-body {
    display: none;
  }

  .complex-table-example vscode-table-cell {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;
    white-space: normal;
  }
</style>