---
import { getCollection } from 'astro:content';
import Page from '../../layouts/Page.astro';
import { Debug } from 'astro:components';

export async function getStaticPaths() {
  const componentPageEntries = await getCollection('components');

  return componentPageEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { title } = entry.data;
const { Content } = await entry.render();
const headings = Astro.props;
---
<Page title={title}>
  <h1>{title}</h1>
  <Content />
</Page>
