<script>
  import "@vscode-elements/webview-playground/dist/index.js";
</script>

<div>
  <div class="not-content">
    <vscode-demo><slot /></vscode-demo>
  </div>
</div>

<style>
  vscode-demo {
    border: 1px solid var(--sl-color-gray-6);
    box-shadow: none;
  }
</style>
