---
import { Tabs, TabItem } from "@astrojs/starlight/components";

const { html, css, js } = Astro.slots;
---

<script>
  import "@vscode-elements/webview-playground/dist/index.js";
</script>

<div>
  <div class="not-content">
    <vscode-demo><slot /></vscode-demo>
  </div>
</div>
<Tabs>
  {
    html ? (
      <TabItem label="HTML">
        <slot name="html" />
      </TabItem>
    ) : null
  }
  {
    css ? (
      <TabItem label="CSS">
        <slot name="css" />
      </TabItem>
    ) : null
  }
  {
    js ? (
      <TabItem label="JavaScript">
        <slot name="js" />
      </TabItem>
    ) : null
  }
</Tabs>

<style>
  vscode-demo {
    border: 1px solid var(--sl-color-gray-6);
    box-shadow: none;
  }
</style>
