---
import { Aside } from "@astrojs/starlight/components";
---

<Aside type="note">
  This component is compatible with standard <code>&lt;form&gt;</code>
   elements. For more information on form submission and client-side validation,
  please refer to the <a href="/guides/working-with-forms">Working with forms</a>
  section.
</Aside>
