---
import GlobalStyles from '../components/GlobalStyles.astro';
import Analytics from '../components/Analytics.astro';
import packageJson from '@vsc-elements/elements/package.json';
import Logo from '../components/Logo.astro';
---

<!doctype html>
<html lang="en">
	<head>
    <Analytics />
		<meta charset="UTF-8" />
		<meta name="description" content="Web component library for developing Visual Studio Code extensions" />
		<meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&amp;display=swap&amp;text=VSCodeWebviewElements" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>VSCode Webview Elements</title>
	</head>
	<body>
    <div>
      <div class="clipart">
        <div class="clipart__logo">
          <Logo />
        </div>
        <h1 class="clipart__heading-1">VSCode<br> Webview<br> Elements</h1>
      </div>
      <h2 class="landing-header__heading-2">Web component library for developing<br> Visual Studio Code extensions</h2>
      <div class="buttons-wrapper">
        <a href="/pages/getting-started" class="button">Getting started</a>
        <a href="https://github.com/bendera/vscode-webview-elements" class="button button--ghost">Github</a>
      </div>
      <p class="landing-version">Current version: {packageJson.version}</p>
    </div>
	</body>
</html>
<GlobalStyles />
<style>
  body {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .clipart {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .clipart__logo {
    height: 148px;
    margin: 0 20px;
    width: 334px;
  }

  .clipart__logo svg {
    display: block;
    height: 100%;
    width: 100%;
  }

  .clipart__heading-1 {
    color: var(--color-vscode-blue);
    font-family: 'Source Sans Pro';
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
    margin: 0 20px;
  }

  .landing-header__heading-2 {
    color: var(--color-vscode-blue);
    font-size: 24px;
    font-weight: normal;
    margin: 30px 0 0;
    text-align: center;
  }

  .buttons-wrapper {
    display: flex;
    margin: 20px 0;
    justify-content: center;
  }

  .buttons-wrapper .button {
    margin: 0 5px;
  }

  .button {
    background-color: var(--color-vscode-blue);
    border: 2px solid var(--color-vscode-blue);
    border-radius: 5px;
    color: var(--color-light-gray);
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }

  .button.button--ghost {
    background-color: transparent;
    color: var(--color-vscode-blue);
  }

  .landing-version {
    color: var(--color-vscode-blue);
    text-align: center;
  }
</style>
