---
export type Props = {
  cid: string;
  fieldType: string;
  name: string;
};

const { cid, fieldType, name } = Astro.props;
---

<div data-cid={cid} data-astro-component={fieldType} class="Field">
  <label for={cid}>{name}</label>
  <slot />
</div>

<style>
  .Field {
    align-items: center;
    display: flex;
    height: 40px;
  }

  label {
    display: block;
    padding-right: 10px;
    text-align: right;
    user-select: none;
    width: 200px;
  }

  label::after {
    content: ':';
  }
</style>
