---
export type Props = {
  cid: string;
  fieldType: string;
  name: string;
};

const { cid, fieldType, name } = Astro.props;
---

<tr>
  <td>
    <div data-cid={cid} data-astro-component={fieldType} class="Field">
      <label for={cid}>{name}</label>
      <slot />
    </div>
  </td>
  <td>
    Name
  </td>
</tr>

<style>
  .Field {
    align-items: center;
    display: flex;
    height: 40px;
  }

  label {
    display: block;
    user-select: none;
    width: 200px;
  }
</style>
