<div class="ContentWrapper"><slot /></div>
<style>
  .ContentWrapper {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
</style>
