---
import InfoBlock from "./InfoBlock.astro";
---

<InfoBlock>
  <p>
    This component is compatible with standard <code>&lt;form&gt;</code>
    elements. For more information on form submission and client-side
    validation, please refer to the <a href="/working-with-forms"
      >Working with forms</a
    > section.
  </p>
</InfoBlock>
