---
---
<p>
  This component is compatible with standard <code>&lt;form&gt;</code> elements. For more information on form
  submission and client-side validation, please refer to the <a href="/working-with-forms">Working with forms</a> section.
</p>

<style>
  p {
    background-color: #cce5ff;
    border-style: solid;
    border-color: #b8daff;
    border-width: 1px;
    color: #004085;
    padding: 15px;
  }
</style>