<div class="MainContent">
  <slot />
</div>

<style>
  .MainContent {
    box-sizing: border-box;
    margin-left: 250px;
    padding: 20px 32px;
    position: relative;
    width: calc(100% - 250px);
  }
</style>
