---
import type { MarkdownHeading } from "astro";

export type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<ul class="MarkdownToc">
  {
    headings.map(({ slug, text }) => (
      <li>
        <a href={`#${slug}`}>{text}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    margin-bottom: 0;
    margin-top: 0;
  }
</style>
