---
import packageJson from "@vsc-elements/elements/package.json";
import Logo from "./Logo.astro";
import MainNav from "./MainNav.astro";
---

<aside class="Sidebar" id="Sidebar">
  <header>
    <a href="/"><Logo /></a><h1><a href="/">VSC Elements</a></h1>
    <p><span class="version">{packageJson.version}</span></p>
  </header>
  <MainNav />
</aside>

<style>
  .Sidebar {
    bottom: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
  }

  header {
    margin-top: 20px;
  }

  a {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
    flex-wrap: wrap;
  }

  a :global(svg) {
    display: block;
    height: 74px;
    width: 167px;
  }

  h1 {
    color: var(--color-vscode-blue);
    font-size: 20px;
    font-family: "Source Sans Pro";
    font-weight: 900;
    margin: 0;
    text-decoration: none;
  }

  p {
    margin: 0;
    text-align: center;
  }
</style>

<script>
const SESSION_STORAGE_KEY = 'Sidebar_scrollTop';
const sidebar = document.getElementById('Sidebar');

sidebar?.addEventListener('click', () => {
  sessionStorage.setItem(SESSION_STORAGE_KEY, sidebar.scrollTop.toString());
});

window.addEventListener('load', () => {
  const prevScrollPos = sessionStorage.getItem(SESSION_STORAGE_KEY);

  if (prevScrollPos && sidebar) {
    sidebar.scrollTop = parseInt(prevScrollPos);
    sessionStorage.removeItem(SESSION_STORAGE_KEY);
  }
});

</script>
