---
import config from "virtual:starlight/user-config";
import VersionInfo from "./VersionInfo.astro";
const { siteTitle, siteTitleHref } = Astro.locals.starlightRoute;
---

<a href={siteTitleHref} class="site-title sl-flex">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.435 73.998">
    <g fill="#007acc"
      ><path
        d="M115.89 8.141L100.762.857a4.574 4.574 0 00-5.23.89L66.537 28.2l-12.63-9.584a3.042 3.042 0 00-3.908.173l-4.051 3.678a3.067 3.067 0 00-.015 4.526l10.963 10-10.963 10a3.067 3.067 0 00.015 4.526l4.051 3.692c1.107.992 2.745 1.064 3.908.173l12.63-9.584L95.53 72.251a4.552 4.552 0 005.216.89l15.144-7.284a4.576 4.576 0 002.6-4.138V12.28a4.552 4.552 0 00-2.6-4.138zm-15.761 45.56l-22.012-16.71 22.012-16.709zM134.34 0l-7.81 7.81L155.73 37l-29.2 29.188 7.81 7.81 33.095-33.094v-7.81zM40.904 7.81L11.704 37l29.2 29.188-7.81 7.81L0 40.904v-7.81L33.094 0z"
      ></path></g
    >
  </svg>
  <span class:list={{ "sr-only": config.logo?.replacesTitle }} translate="no">
    {siteTitle}
  </span>
</a>
<select id="version-selector" aria-label="Select version">
  <option value="https://vscode-elements.github.io/docs-archive/v1">v1.x</option
  >
  <option selected value="https://vscode-elements.github.io"
    >v<VersionInfo /></option
  >
</select>

<style>
  @layer starlight.core {
    .site-title {
      align-items: center;
      gap: var(--sl-nav-gap);
      font-size: var(--sl-text-h4);
      font-weight: 600;
      color: var(--sl-color-text-accent);
      text-decoration: none;
      white-space: nowrap;
      min-width: 0;
    }
    span {
      overflow: hidden;
    }
    img,
    svg {
      height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y));
      width: auto;
      max-width: 100%;
      object-fit: contain;
      object-position: 0 50%;
    }
    select {
      background-color: transparent;
      border: 0;
      margin-left: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
</style>

<script>
  const sl = document.querySelector<HTMLSelectElement>("#version-selector");
  sl?.addEventListener("input", () => {
    window.location.href = sl.value;
  });
</script>
