---

---

<form
  action="/introduction/building-forms"
  method="get"
  enctype="application/x-www-form-urlencoded"
>
  <vscode-label for="query">Search query:</vscode-label>
  <vscode-textfield id="query" name="query" required></vscode-textfield>
  <vscode-button type="submit">Search</vscode-button>
</form>

<style>
  form {
    display: flex;
    gap: 4px;
  }
</style>
