---

---

<vscode-form-group variant="settings-group">
  <vscode-label for="settings-textfield-01">
    Lorem <span class="normal">ipsum</span>:
  </vscode-label>
  <vscode-form-helper>
    <p>
      Lorem ipsum <code>let dolor = sit amet</code>, consectetur adipiscing
      elit. <span class="error">Suspendisse</span> faucibus imperdiet sapien, a
      gravida <a href="#">dolor</a>.
    </p>
  </vscode-form-helper>
  <vscode-textfield id="settings-textfield-01" placeholder="Placeholder example"
  ></vscode-textfield>
</vscode-form-group>
