<p>
  <vscode-textfield placeholder="Type something">
    <vscode-badge slot="content-after">308 Settings Found</vscode-badge>
    <vscode-icon
      slot="content-after"
      name="clear-all"
      title="clear-all"
      action-icon
    ></vscode-icon>
    <vscode-icon slot="content-after" name="filter" action-icon></vscode-icon>
  </vscode-textfield>
</p>
<p>
  <vscode-textfield placeholder="Type something">
    <vscode-icon
      slot="content-before"
      name="search"
      title="search"
    ></vscode-icon>
  </vscode-textfield>
</p>

<style>
  p:not(:first-child) {
    margin-top: 1rem;
  }

  p:not(:last-child) {
    margin-bottom: 1rem;
  }
</style>