---
import type { MarkdownHeading } from "astro";
import Layout from "./Layout.astro";
import MultiColumnContent from "@components/MultiColumnContent.astro";
import SingleColumnContent from "@components/SingleColumnContent.astro";
import MarkdownToc from "@components/MarkdownToc.astro";

interface Props {
  title: string;
  headings: MarkdownHeading[];
}

const { title, headings } = Astro.props;
const filteredHeadings = headings.filter((h) => h.depth === 2);
---

<Layout title={title}>
  <div class="content">
    {
      filteredHeadings.length > 0 ? (
        <MultiColumnContent title={title}>
          <MarkdownToc headings={filteredHeadings} slot="sidebar" />
          <slot />
        </MultiColumnContent>
      ) : (
        <SingleColumnContent title={title}>
          <slot />
        </SingleColumnContent>
      )
    }
  </div>
</Layout>
