---
import type { MarkdownHeading } from "astro";
import Layout from "./Layout.astro";
import MultiColumnContent from "@components/MultiColumnContent.astro";
import SingleColumnContent from "@components/SingleColumnContent.astro";
import ApiPageSwitcher from "@components/ApiPageSwitcher.astro";
import MarkdownToc from "@components/MarkdownToc.astro";

interface Props {
  title: string;
  headings: MarkdownHeading[];
}

const { title, headings } = Astro.props;
const { sidebar } = Astro.slots;
const filteredHeadings = headings.filter((h) => h.depth === 2);
const hasToc = filteredHeadings.length > 0;
---

<Layout title={title}>
  <div class="content">
    <ApiPageSwitcher />
    {
      hasToc || sidebar ? (
        <MultiColumnContent title={title}>
          {sidebar ? <slot name="sidebar" slot="sidebar" /> : null}
          {hasToc ? (
            <MarkdownToc headings={filteredHeadings} slot="sidebar" />
          ) : null}
          <slot />
        </MultiColumnContent>
      ) : (
        <SingleColumnContent title={title}>
          <slot />
        </SingleColumnContent>
      )
    }
  </div>
</Layout>

<style>
  .content {
    max-height: 100%;
    overflow-y: auto;
  }
</style>
