---
import GlobalStyles from "../components/GlobalStyles.astro";
import LinkedScripts from "../components/LinkedScripts.astro";
import Analytics from "../components/Analytics.astro";
import MainHeader from "../components/MainHeader.astro";
import PageContent from "../components/PageContent.astro";
import Sidebar from "../components/Sidebar.astro";
import MainNav from "../components/MainNav.astro";
import MainContent from "../components/MainContent.astro";

interface Props {
  title: string;
}

const { slug } = Astro.params;
const log = Astro.url;

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Analytics />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap&text=VSCodeWebviewElements"
      rel="stylesheet"
    />
    <LinkedScripts />
    <meta name="generator" content={Astro.generator} />
    <title>{title} &ndash; VSCode Webview Elements</title>
  </head>
  <body class="vscode-light">
    <Sidebar />
    <MainContent>
      <slot />
    </MainContent>
  </body><GlobalStyles />

  <style is:global>
    .page h1 {
      font-size: 48px;
      font-weight: normal;
      margin: 20px 0 0;
      line-height: 1.2;
    }

    .page h2 {
      font-size: 32px;
      font-weight: normal;
      line-height: 1.2;
      margin: 48px 0 8px;
    }

    .page h3 {
      font-size: 20px;
      font-weight: normal;
      line-height: 1.2;
      margin: 32px 0 8px;
    }

    .page h1,
    .page h2,
    .page h3 {
      align-items: center;
      display: flex;
    }

    @keyframes highlight {
      from {
        background-color: yellow;
      }

      to {
        background-color: transparent;
      }
    }

    .page h1:target,
    .page h2:target,
    .page h3:target {
      animation: highlight 3000ms;
      outline: none;
    }

    .page h1 a,
    .page h2 a,
    .page h3 a {
      color: inherit;
      text-decoration: inherit;
    }

    .page h1 a:hover,
    .page h2 a:hover,
    .page h3 a:hover {
      text-decoration: underline;
    }

    .page h1 a:focus,
    .page h2 a:focus,
    .page h3 a:focus {
      outline: none;
    }

    .page h1 a:focus-visible,
    .page h2 a:focus-visible,
    .page h3 a:focus-visible {
      outline: 1px solid currentColor;
    }

    @media screen and (min-width: 1024px) {
      .toc {
        position: fixed;
        right: 0;
        top: 70px;
        width: 250px;
      }
    }
  </style>
</html>
