---

---

<vscode-split-layout class="split-layout" initial-position="75%">
  <div slot="start">
    <vscode-table
      class="responsive-example"
      bordered-columns
      zebra
      responsive
      breakpoint="400"
    >
      <vscode-table-header slot="header">
        <vscode-table-header-cell>First name</vscode-table-header-cell>
        <vscode-table-header-cell>Last name</vscode-table-header-cell>
      </vscode-table-header>
      <vscode-table-body slot="body">
        <vscode-table-row>
          <vscode-table-cell>Vincenza</vscode-table-cell>
          <vscode-table-cell>Lindgren</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Clark</vscode-table-cell>
          <vscode-table-cell>Breitenberg</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Fiona</vscode-table-cell>
          <vscode-table-cell>Wintheiser</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Kareem</vscode-table-cell>
          <vscode-table-cell>Wintheiser</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Margot</vscode-table-cell>
          <vscode-table-cell>Koepp</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Dominique</vscode-table-cell>
          <vscode-table-cell>Kuhlman</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Elisa</vscode-table-cell>
          <vscode-table-cell>Leannon</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Holden</vscode-table-cell>
          <vscode-table-cell>Gleichner</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Robyn</vscode-table-cell>
          <vscode-table-cell>Jast</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Anjali</vscode-table-cell>
          <vscode-table-cell>Friesen</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Remington</vscode-table-cell>
          <vscode-table-cell>Beatty</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Demond</vscode-table-cell>
          <vscode-table-cell>Marks</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Gerda</vscode-table-cell>
          <vscode-table-cell>Boyle</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Micah</vscode-table-cell>
          <vscode-table-cell>Feest</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Nicolette</vscode-table-cell>
          <vscode-table-cell>Johnston</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Joe</vscode-table-cell>
          <vscode-table-cell>Balistreri</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Willy</vscode-table-cell>
          <vscode-table-cell>Turcotte</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Willie</vscode-table-cell>
          <vscode-table-cell>Stroman</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Brigitte</vscode-table-cell>
          <vscode-table-cell>Hirthe</vscode-table-cell>
        </vscode-table-row>
        <vscode-table-row>
          <vscode-table-cell>Celestino</vscode-table-cell>
          <vscode-table-cell>Weber</vscode-table-cell>
        </vscode-table-row>
      </vscode-table-body>
    </vscode-table>
  </div>
  <div slot="end">
    <div style="align-items: center; display: flex; margin-left: 20px;">
      <vscode-icon name="arrow-left"></vscode-icon> Resize it
    </div>
  </div>
</vscode-split-layout>

<style>
  .split-layout {
    border: 0;
    height: 250px;
    width: 100%;
  }

  .responsive-example {
    height: 250px;
  }
</style>