---
type Props = {
  flag: "static" | "reflected" | "readonly" | "deprecated";
};

const { flag } = Astro.props;
---

<span class:list={["ApiDocsBadge", flag]}>
  {flag}
</span>

<style>
  .ApiDocsBadge {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    padding: 1px 6px;
  }

  .deprecated {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }

  .readonly {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
  }

  .reflected {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }

  .static {
    background-color: #e2e3e5;
    border-color: #d6d8db;
    color: #383d41;
  }
</style>
