.api-table {
  overflow: auto;
}

.api-table th:first-child,
.api-table td:first-child {
  background-color: var(--sl-color-bg);
  left: 0;
  position: sticky;
}

.api-table td {
  white-space: nowrap;
}

.api-table .description {
  white-space: normal;
  width: 450px;
}

.api-details {
  border-left: none !important;
  padding-left: 0 !important;
}

.api-details + .api-details {
  margin-top: 0.5rem;
}

.api-details summary {
  font-weight: 400;
  margin-bottom: 0 !important;
}

.api-details .flags {
  display: inline-block;
  margin-left: 10px;
}

.api-details table {
  margin-top: 0 !important;
  margin-bottom: 1rem;
}

.api-details .na {
  opacity: 0.5;
}